.top{
    height: 490gitpx;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
    
}
.gradient{
    
    background-image:url(cinza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;



}
nav {
    position: relative;
       
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
     
}
nav a{
    text-transform: uppercase;
    color:white;
    font-weight: bold;
    font-size: 30px;
    text-decoration: none;
}
nav a:hover{
    color:black;
    text-decoration: underline;
    border: solid;
    border-radius: 5%;
}


#banner{   
    
    width: 100%;
    height: 400px;
    margin: 0 auto;
}
.times{
    text-align: center;
    margin: 10px auto;
    
}


.centro p{
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
    color: white;
   
    margin: 0 auto;
    border: solid;
    width: 650px;
    
}
      
.video{
    text-align: center;
    
    margin: 20px auto;  
    
    
}
.video2{
    
text-align: center;
margin: 20px auto;


}

.informacao h1{
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
     margin: 2px;
     color: white;

}
.informacao p{
    font-style: italic;
    color: white;
    text-align: center;
    font-size: 20px;
}
.mapa{
    text-align: center;
    margin: 30px auto;
    font-size: 40px;
    color: white;
    font-style: italic;
    font-weight: bold;

}


footer {
    text-align: center;
    background: url("fundorodape.jpg");
   
    padding: 40;
 
 }
 .rodape{
    color: white;
    font-size: 13px;
    margin: 20px 0 0;
}




/* inicio jogo.html */
.descricao h1{
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 100px;
    color: white;
}
.descricao p{
    color: white;
    font-size: 22px;
    font-style: italic;
    text-align: center;
    padding: 1.5mm;
    margin: 5px;
}
.campeao{
    text-align: center;
}
.brasilcampeao{
    text-align: center;
}
.negrito{
    font-weight: bold;
}
.meiojogo{
    
    background-image:url(8K.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    
    
}
/*inicio live.html*/

.bodylive{
    background-image:url(jogo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.videolive{
    padding: 500px;
    text-align: center;
    margin: 0 auto;
}
.meiolive h1{
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    color: white;


}
.meiolive p{
    font-size: 22px;
    color: white;
    text-align: center;
}